# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/ClientSide/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/

# misc
/ClientSide/.sass-cache
/ClientSide/connect.lock
/ClientSide/coverage
/ClientSide/libpeerconnection.log
/ClientSidenpm-debug.log
/ClientSideyarn-error.log
/ClientSidetestem.log
/ClientSide/typings

# System Files
/ClientSide/.DS_Store
/ClientSide/Thumbs.db

# Web Api Files
/WebApi/bin/
/WebApi/obj/
/WebApi/packages/
